{%- if include.title -%}
  <div class="uk-container uk-margin-medium-bottom">
    <hr class="uk-margin-remove">
    <h2 class="section-title uk-text-center uk-margin">{{- include.title -}}</h2>
    <hr class="uk-margin-remove">
  </div>
{%- endif -%}

<div class="uk-container uk-margin-medium-bottom">
  {%- assign cols = include.cols | default: '4') -%}
  <script src="https://ig.instant-tokens.com/users/6bad823e-cd8a-426e-b9d8-b70b113921a1/instagram/17841400885573472/token.js?userSecret=1bvuwc12uvmfcoc3fbcqzj"></script>
  <script type="text/javascript" src="{{ site.baseurl }}/assets/js/vendor/instafeed.min.js"></script>
  <div id="instafeed" class="uk-grid-small uk-child-width-1-3@s uk-child-width-1-{{ cols }}@m{% if include.gutter == 'false' %} uk-grid-collapse{% endif %}" data-uk-grid></div>
      <script type="text/javascript">
          var feed = new Instafeed({
            accessToken: InstagramToken, 
            limit: 24,
            template: '<a class="instagram-image" href="\{\{link\}\}" target="_blank"><img src="\{\{image\}\}"/></a>'
          });
          feed.run();
      </script>
</div>