{%- if include.title -%}
  <div class="uk-container uk-margin-medium-bottom">
    <hr class="uk-margin-remove">
    <h2 class="section-title uk-text-center uk-margin">{{- include.title -}}</h2>
    <hr class="uk-margin-remove">
  </div>
{%- endif -%}

<div class="uk-container uk-margin-medium-bottom" align="center">
  <!-- Insert your design of the Google calendar here: -->

<!--put Embeddable Snippet here -->
	<script type="text/javascript" src="https://stylemygcal.com/widget.js"></script>
	<div class="smgc-calendar-placeholder" id="smgc-cal-Ko6OgxNCLKxkBHfRRAKM"></div>

</div> 