{%- if include.title -%}
  <div class="uk-container uk-margin-medium-bottom">
    <hr class="uk-margin-remove">
    <h2 class="section-title uk-text-center uk-margin">{{- include.title -}}</h2>
    <hr class="uk-margin-remove">
  </div>
{%- endif -%}

<div class="uk-container uk-margin-medium-bottom">
  {% if site.instagram_accesstoken %}
  {%- assign cols = include.cols | default: '4') -%}
  <div id="instagram" class="uk-grid-small uk-child-width-1-3@s uk-child-width-1-{{ cols }}@m{% if include.gutter == 'false' %} uk-grid-collapse{% endif %}" data-uk-grid></div>
  <script>
    instafetch.init({
      accessToken: '{{ site.instagram_accesstoken }}',
      target: 'instagram',
      numOfPics: {{ include.count | default: '6' }},
      caption: false
    });
  </script>
  {% endif %}
</div>
