{% if include.author %}
  {% assign author = site.authors | where: 'username', include.author | first %}
{% else %}
  {% assign author = site.authors | where: 'default', true | first %}
{% endif %}

{% unless include.border_top -%}
<div class="uk-container uk-margin-medium-bottom">
  <hr class="uk-margin-remove">
</div>  
{%- endunless -%}

<div class="uk-container uk-container-small uk-margin-medium-bottom">
<div data-uk-grid class="uk-grid-large uk-flex uk-flex-center">
    <div class="uk-width-1-4">
    {% if author.image %}
        <div class="uk-text-center">
            <img class="uk-border-circle avatar" src="{% if author.image contains 'http' %}{{ author.image }}{% else %}{{ site.uploads | absolute_url }}{{ author.image }}{% endif %}">
        </div>
    {% endif %}
    </div>
    <div class="uk-width-3-4@s uk-flex uk-flex-middle">
    <div>
        <h2 class="uk-h1">{{ include.title }}</h2>
        <p class="uk-margin content-secondary">{{ author.bio }}</p>

        <div class="social-networks">
            <div data-uk-grid class="uk-child-width-auto uk-grid-medium uk-grid uk-flex-center uk-flex-left@s">
                {% if author.twitter %}
                <div class="uk-first-column">
                    <a href="{{ author.twitter }}" data-uk-icon="ratio: 1.4; icon: twitter" class="uk-icon-link uk-icon" target="_blank"></a>
                </div>
                {% endif %}
                {% if author.facebook %}
                <div>
                    <a href="{{ author.facebook }}" data-uk-icon="ratio: 1.4; icon: facebook" class="uk-icon-link uk-icon" target="_blank"></a>
                </div>
                {% endif %}
                {% if author.flickr %}
                <div>
                    <a href="{{ author.flickr }}" data-uk-icon="ratio: 1.4; icon: flickr" class="uk-icon-link uk-icon" target="_blank"></a>
                </div>
                {% endif %}
                {% if author.dribbble %}
                <div>
                    <a href="{{ author.dribbble }}" data-uk-icon="ratio: 1.4; icon: dribbble" class="uk-icon-link uk-icon" target="_blank"></a>
                </div>
                {% endif %}
                {% if author.instagram %}
                <div>
                    <a href="{{ author.instagram }}" data-uk-icon="ratio: 1.4; icon: instagram" class="uk-icon-link uk-icon" target="_blank"></a>
                </div>
                {% endif %}
                {% if author.googleplus %}
                <div>
                    <a href="{{ author.googleplus }}" data-uk-icon="ratio: 1.4; icon: google-plus" class="uk-icon-link uk-icon" target="_blank"></a>
                </div>
                {% endif %}
                {% if author.linkedin %}
                <div>
                    <a href="{{ author.linkedin }}" data-uk-icon="ratio: 1.4; icon: linkedin" class="uk-icon-link uk-icon" target="_blank"></a>
                </div>
                {% endif %}
                {% if author.pinterest %}
                <div>
                    <a href="{{ author.pinterest }}" data-uk-icon="ratio: 1.4; icon: pinterest" class="uk-icon-link uk-icon" target="_blank"></a>
                </div>
                {% endif %}
                {% if author.vimeo %}
                <div>
                    <a href="{{ author.vimeo }}" data-uk-icon="ratio: 1.4; icon: vimeo" class="uk-icon-link uk-icon" target="_blank"></a>
                </div>
                {% endif %}
                {% if author.youtube %}
                <div>
                    <a href="{{ author.youtube }}" data-uk-icon="ratio: 1.4; icon: youtube" class="uk-icon-link uk-icon" target="_blank"></a>
                </div>
                {% endif %}
                {% if author.github %}
                <div>
                    <a href="{{ author.github }}" data-uk-icon="ratio: 1.4; icon: github" class="uk-icon-link uk-icon" target="_blank"></a>
                </div>
                {% endif %}
                {% if author.email %}
                <div>
                    <a href="{{ author.email }}" data-uk-icon="ratio: 1.4; icon: mail" class="uk-icon-link uk-icon" target="_blank"></a>
                </div>
                {% endif %}
                {% if author.website %}
                <div>
                    <a href="{{ author.website }}" data-uk-icon="ratio: 1.4; icon: link" class="uk-icon-link uk-icon" target="_blank"></a>
                </div>
                {% endif %}
            </div>
        </div>
        </div>
    </div>
</div>
</div>
