{% if site.social_networks.twitter %}
<div class="uk-first-column">
    <a href="{{ site.social_networks.twitter }}" data-uk-icon="icon: twitter; ratio: {{ include.icon_ratio }}" class="uk-icon-link uk-icon" target="_blank"></a>
</div>
{% endif %}
{% if site.social_networks.facebook %}
<div>
    <a href="{{ site.social_networks.facebook }}" data-uk-icon="icon: facebook; ratio: {{ include.icon_ratio }}" class="uk-icon-link uk-icon" target="_blank"></a>
</div>
{% endif %}
{% if site.social_networks.flickr %}
<div>
    <a href="{{ site.social_networks.flickr }}" data-uk-icon="icon: flickr; ratio: {{ include.icon_ratio }}" class="uk-icon-link uk-icon" target="_blank"></a>
</div>
{% endif %}
{% if site.social_networks.dribbble %}
<div>
    <a href="{{ site.social_networks.dribbble }}" data-uk-icon="icon: dribbble; ratio: {{ include.icon_ratio }}" class="uk-icon-link uk-icon" target="_blank"></a>
</div>
{% endif %}
{% if site.social_networks.instagram %}
<div>
    <a href="{{ site.social_networks.instagram }}" data-uk-icon="icon: instagram; ratio: {{ include.icon_ratio }}" class="uk-icon-link uk-icon" target="_blank"></a>
</div>
{% endif %}
{% if site.social_networks.reddit %}
<div>
    <a href="{{ site.social_networks.reddit }}" data-uk-icon="icon: reddit; ratio: {{ include.icon_ratio }}" class="uk-icon-link uk-icon" target="_blank"></a>
</div>
{% endif %}
{% if site.social_networks.linkedin %}
<div>
    <a href="{{ site.social_networks.linkedin }}" data-uk-icon="icon: linkedin; ratio: {{ include.icon_ratio }}" class="uk-icon-link uk-icon" target="_blank"></a>
</div>
{% endif %}
{% if site.social_networks.pinterest %}
<div>
    <a href="{{ site.social_networks.pinterest }}" data-uk-icon="icon: pinterest; ratio: {{ include.icon_ratio }}" class="uk-icon-link uk-icon" target="_blank"></a>
</div>
{% endif %}
{% if site.social_networks.vimeo %}
<div>
    <a href="{{ site.social_networks.vimeo }}" data-uk-icon="icon: vimeo; ratio: {{ include.icon_ratio }}" class="uk-icon-link uk-icon" target="_blank"></a>
</div>
{% endif %}
{% if site.social_networks.youtube %}
<div>
    <a href="{{ site.social_networks.youtube }}" data-uk-icon="icon: youtube; ratio: {{ include.icon_ratio }}" class="uk-icon-link uk-icon" target="_blank"></a>
</div>
{% endif %}
{% if site.social_networks.github %}
<div>
    <a href="{{ site.social_networks.github }}" data-uk-icon="icon: github; ratio: {{ include.icon_ratio }}" class="uk-icon-link uk-icon" target="_blank"></a>
</div>
{% endif %}
{% if site.social_networks.email %}
<div>
    <a href="mailto:{{ site.social_networks.email }}" data-uk-icon="icon: mail; ratio: {{ include.icon_ratio }}" class="uk-icon-link uk-icon" target="_blank"></a>
</div>
{% endif %}
{% if site.social_networks.website %}
<div>
    <a href="{{ site.social_networks.website }}" data-uk-icon="icon: link; ratio: {{ include.icon_ratio }}" class="uk-icon-link uk-icon" target="_blank"></a>
</div>
{% endif %}
