{% case include.tone %}
{% when "j", "jk" %}
    <sup><a class="tooltip">/{{ include.tone }}<span class="tooltiptext">Tone indicator: joking</span></a></sup>
{% when "nj" %}
    <sup><a class="tooltip">/{{ include.tone }}<span class="tooltiptext">Tone indicator: not joking</span></a></sup>
{% when "hj" %}
    <sup><a class="tooltip">/{{ include.tone }}<span class="tooltiptext">Tone indicator: half-joking</span></a></sup>
{% when "s" %}
    <sup><a class="tooltip">/{{ include.tone }}<span class="tooltiptext">Tone indicator: sarcastic</span></a></sup>
{% when "g", "gen" %}
    <sup><a class="tooltip">/{{ include.tone }}<span class="tooltiptext">Tone indicator: genuine</span></a></sup>
{% when "srs" %}
    <sup><a class="tooltip">/{{ include.tone }}<span class="tooltiptext">Tone indicator: serious</span></a></sup>
{% when "nsrs", "ns" %}
    <sup><a class="tooltip">/{{ include.tone }}<span class="tooltiptext">Tone indicator: not serious</span></a></sup>
{% when "pc", "pos" %}
    <sup><a class="tooltip">/{{ include.tone }}<span class="tooltiptext">Tone indicator: positive connotation</span></a></sup>
{% when "neu" %}
    <sup><a class="tooltip">/{{ include.tone }}<span class="tooltiptext">Tone indicator: neutral connotation</span></a></sup>
{% when "nc", "neg" %}
    <sup><a class="tooltip">/{{ include.tone }}<span class="tooltiptext">Tone indicator: negative connotation</span></a></sup>
{% when "l", "ly", "lyr" %}
    <sup><a class="tooltip">/{{ include.tone }}<span class="tooltiptext">Tone indicator: quoting lyrics</span></a></sup>
{% when "lh" %}
    <sup><a class="tooltip">/{{ include.tone }}<span class="tooltiptext">Tone indicator: light-hearted</span></a></sup>
{% when "rh", "rt" %}
    <sup><a class="tooltip">/{{ include.tone }}<span class="tooltiptext">Tone indicator: rhetorical question</span></a></sup>
{% when "t" %}
    <sup><a class="tooltip">/{{ include.tone }}<span class="tooltiptext">Tone indicator: teasing</span></a></sup>
{% when "ij" %}
    <sup><a class="tooltip">/{{ include.tone }}<span class="tooltiptext">Tone indicator: inside joke</span></a></sup>
{% when "m" %}
    <sup><a class="tooltip">/{{ include.tone }}<span class="tooltiptext">Tone indicator: metaphorically</span></a></sup>
{% when "li" %}
    <sup><a class="tooltip">/{{ include.tone }}<span class="tooltiptext">Tone indicator: literally</span></a></sup>
{% when "hyp" %}
    <sup><a class="tooltip">/{{ include.tone }}<span class="tooltiptext">Tone indicator: hyperbole</span></a></sup>
{% when "fr" %}
    <sup><a class="tooltip">/{{ include.tone }}<span class="tooltiptext">Tone indicator: like, for real!</span></a></sup>
{% when "f" %}
    <sup><a class="tooltip">/{{ include.tone }}<span class="tooltiptext">Tone indicator: fake, for humorous effect</span></a></sup>
{% else %}
    <sup>/{{ include.tone }}</sup>
{% endcase %}
